black
darglint
flake8
flake8-annotations
flake8-black
flake8-bugbear
flake8-builtins
flake8-docstrings
flake8-isort
flake8-use-fstring
isort
jupyter
matplotlib
mlflow
nox
numpy
pandas
reindent
scikit-learn
scipy
tqdm
